body {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #a4a0a0;
}

#container {
  margin: 0 auto;
  text-align: center;
  width: 995px;
}

#container h3 {
  margin-top: 20px;
  font-size: 45px;
  color: #a9daf7;
}

#container h1 p {
  font-size: 18px;
}

#contact-form-div {
  width: 390px;
  margin-top: 20px;
  margin-left: 310px;
  padding: 10px;
  border-radius: 40px;
  background-color: #7a7474;
}

#contact-form-div #contact-label {
  margin: 15px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

#contact-form-div input[type="text"] {
  width: 250px;
  height: 40px;
  border-radius: 2px;
  font-size: 17px;
  padding-left: 5px;
  border: none;
}

#contact-form-div button[type="submit"] {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 7px;
  font-size: 17px;
  background-color: #454444;
  border-bottom: 3px solid #0b0101;
  color: #a9daf7;
  font-weight: bold;
}

#container label {
  color: #fff;
  font-size: 18px;
}

#result {
  width: 250px;
  height: 60px;
  font-size: 17px;
  padding-left: 15px;
  margin-left: 70px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

@media only screen and (min-width: 700px) and (max-width: 995px) {
  #container {
    width: 100%;
  }

  #container h1 {
    font-size: 30px;
  }

  #contact-form-div {
    width: 50%;
    margin-left: 25%;
  }

  #contact-form-div input[type="text"] {
    width: 80%;
  }

  #contact-form-div textarea {
    width: 80%;
  }

  #contact-form-div input[type="submit"] {
    width: 80%;
  }

  #contact-form-div button[type="submit"] {
    width: 80%;
  }

}

@media only screen and (min-width: 400px) and (max-width: 699px) {
  #container {
    width: 100%;
  }

  #container h1 {
    font-size: 30px;
  }

  #contact-form-div {
    width: 60%;
    margin-left: 20%;
  }

  #contact-form-div input[type="text"] {
    width: 80%;
  }

  #contact-form-div textarea {
    width: 80%;
  }

  #contact-form-div input[type="submit"] {
    width: 80%;
  }

  #contact-form-div button[type="submit"] {
    width: 80%;
  }

}
@media only screen and (min-width: 100px) and (max-width: 399px) {
  #container {
    width: 100%;
  }

  #container h1 {
    font-size: 25px;
  }

  #contact-form-div {
    padding-left: 0px;
    padding-right: 0px;
  }

  #contact-form-div input[type="text"] {
    width: 80%;
  }

  #contact-form-div textarea {
    width: 80%;
  }

  #contact-form-div input[type="submit"] {
    width: 80%;
  }

  #contact-form-div button[type="submit"] {
    width: 80%;
  }
}
