*{
  box-sizing: border-box;
}

body {
  background-color: grey;
  padding-top: 10%;
}
.container {
  width: 100%;
  margin: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}
#header {
  color: black;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.element {
  margin-bottom: 20px;
  align-content: center;
  text-align: center;
}

.element input {
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(8, 49, 8);
  height: 35px;
  max-width: 400px;
}

.element label {
  font-size: 25;
  color: brown;
}

.element small {
  padding-left: 100px;
}

.error {
  border: red;
}

#submit {
  padding: 5px 10px;
  font-size: 30px;
  color: green;
  background-color: greenyellow;
}

.out-con {
  text-align: center;
}
#output {
  width: 150px;
  padding: 20px;
  font-size: 35px;
  background-color: orange;
  color: purple;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

.hide {
  display: none;
}
